name: Publish to Release

on:
  push:
    branches:
      - master

permissions:
  id-token: write
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20.x'
          cache: 'yarn'

      - name: Install Dependencies
        run: yarn install

        # Upgrade NPM to the latest version wo we could use trusted publishers feature
      - name: Upgrade NPM
        run: npm install -g npm@latest

      - name: Publish to NPM
        id: publish
        uses: JS-DevTools/npm-publish@v4
        with:
          access: public

      - name: Create Git Tag
        if: ${{ steps.publish.outputs.type }}
        run: |
          echo "Creating Git Tag..."
          PACKAGE_VERSION=$(jq -r '.version' package.json)
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git tag $PACKAGE_VERSION
          git push origin $PACKAGE_VERSION
          echo "PACKAGE_VERSION=$PACKAGE_VERSION" >> $GITHUB_ENV

      - name: Pack Package
        if: ${{ steps.publish.outputs.type }}
        run: |
          yarn pack

      - name: Publish to Release
        if: ${{ steps.publish.outputs.type }}
        uses: softprops/action-gh-release@v2
        with:
          files: eslint-config-*.tgz
          tag_name: ${{ env.PACKAGE_VERSION }}
